.white-breadcrumb {
    background-color: white !important;
    margin-top: 15px !important;
}

.portlet {
    max-height: 350px;
}

.topbar, .topbar .nav-item .nav-link {
    height: 3.375rem;
}

.navbar .breadcrumb {
    margin-bottom: 0;
}
